body {
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 5px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  .custom-button {
    /* Resetting default button styles */
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    /* Add your own custom styles here */
  }
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .sidebar-logo {
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .sidebar-logo img {
    max-width: 100%;
    height: auto;
  }
  
  .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .main-content {
    margin-left: 220px; /* Width of the sidebar */
    padding: 20px;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }
  
  .cumulative-info {
    margin-top: 20px;
    border: 1px solid #dee2e6;
  }
  
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .cumulative-info .bg-light {
    background-color: #f8f9fa;
  }
  
  .text-center {
    text-align: center;
  }
  
  .navbar .profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .navbar .fa-bell {
    font-size: 20px;
  }
    /* Style for notification dropdown */
    /* Style for notification dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        right: 0%; /* Position to the left */
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Style for notification items */
    .notification {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .notification:hover {
        background-color: #f1f1f1;
    }
    